%nav{ class: "top-bar #{modifier}", data: { topbar: true }, role: 'navigation' }
  %ul.title-area
    %li.name
      %h1
        %a{ href: '/' }
          = 'Wunschconcert'
    %li.toggle-topbar.menu-icon
      %a{ href: '#' }
        = 'Menu'


  %section.top-bar-section
    %ul.right
      - if user_signed_in
        %li
          %a{ href: edit_user_registration_path }
            = 'Edit profile'
        %li
          %a{ href: destroy_user_session_path }
            = 'Logout'
      - else
        %li
          %a{ href: new_user_session_path }
            = 'Login'
