- content_for :navbar do
  = render 'partials/navbar', user_signed_in: user_signed_in?, modifier: ''

.row
  = render 'sidebar'
  .large-9.columns
    .row
      %h1= 'My personal list'
      %h4= "#{@achievements.done.count} out of #{@achievements.count} done!"

      = link_to 'New achievement', new_achievement_path, class: 'button small'

      - if @achievements
        %ol.achievements
          - @achievements.each do |achievement|
            %li
              .achievement
                .details
                  - if achievement.status == 'done'
                    %span.label.success= 'DONE'
                  - else
                    %span.label.alert= 'TO DO'
                  %h3
                    = achievement.name
                  %div= achievement.description
                  .hashtag= "##{achievement.hashtag}"
                - if achievement.image_direct_link
                  = image_tag(achievement.image_direct_link, class: 'photo')
