<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @achievement.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @achievement.description %>
</p>

<p>
  <strong>Hashtags:</strong>
  <%= @achievement.hashtags %>
</p>

<p>
  <strong>Status:</strong>
  <%= @achievement.status %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
