<%= content_for :navbar do %>
  <%= render 'partials/navbar', user_signed_in: user_signed_in?, modifier: '' %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @achievement.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @achievement.description %>
</p>

<p>
  <strong>Hashtags:</strong>
  <%= @achievement.hashtags %>
</p>

<p>
  <strong>Status:</strong>
  <%= @achievement.status %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
