- content_for :navbar do
  = render 'partials/navbar', user_signed_in: user_signed_in?, modifier: ''

.row
  = render 'sidebar'
  .large-9.columns
    .row
      = "Name:"
      = @achievement.name

    .row
      = "Description:"
      = @achievement.description

    .row
      = "Hashtag:"
      = @achievement.hashtag

    .row
      = "Status:"
      = @achievement.status

    - if @achievement.status == "done"
      .row
        = @achievement.instagram_caption

      .row
        = image_tag(@achievement.image_direct_link)
        %br
        = link_to "See it on instagram", @achievement.image_instagram_link, target: '_blank'

    - if @achievement.status == "planned"
      = link_to 'Edit', edit_achievement_path(@achievement)
      = '|'
    = link_to 'Back', achievements_path
