- content_for :navbar do
  = render 'partials/navbar', user_signed_in: user_signed_in?, modifier: ''

.row
  .large-3.columns
    = render 'sidebar'
  .large-9.columns
    .row
      = "Name:"
      = @achievement.name

    .row
      = "Description:"
      = @achievement.description

    .row
      = "Hashtags:"
      = @achievement.hashtags

    .row
      = "Status:"
      = @achievement.status

    = link_to 'Edit', edit_achievement_path(@achievement)
    = '|'
    = link_to 'Back', achievements_path
